<footer role="contentinfo">
  <div class="grid">
    <div class="unit align-center center-on-mobiles">
      <p>The Design of this website is &copy;&nbsp;{{ site.time | date: '%Y' }} Alireza Khodakarami under the terms of the <a href="{{ site.repository }}/blob/master/LICENSE">MIT&nbsp;License</a>.</p>
    </div>
  </div>
</footer>
